[requires]
python_version = "3.8"

[[source]]
name = 'pypi'
url = 'https://pypi.python.org/simple'
verify_ssl = true
#[[source]]
#name = "pytorch"
#url = "https://download.pytorch.org/whl/cu102"
#verify_ssl = false

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
mne = "*"
matplotlib = "*"
scikit-learn = "*"
tqdm = "*"
seaborn = "*"
gpytorch = "*"
gitpython = "*"
portion = "*"
mne-features = "*"
pyyaml = "*"
borb = "*"
clearml = "*"
# gluonts = "*"
# pytorchts = "*"
pyro-ppl = "*"
# tvb-library
# nitime = "*"
# pyqt5 = "*"
# xgboost = "*"
# torch = {index = "pytorch",version = "==1.10.1"}
# paramiko = "*"
# fooof = "*"
#torch = {file = "https://download.pytorch.org/whl/cu102/torch-1.10.1%2Bcu102-cp38-cp38-win_amd64.whl"}
pymef = "*"
kaggle = "*"
xmltodict = "*"
pytorch-lightning = "*"
mlxtend = "*"

[dev-packages]
# pytest = "*"

[pipenv]
allow_prereleases = true
