[requires]
python_version = "3.8"

[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
mne = "*"
matplotlib = "*"
scikit-learn = "*"
tqdm = "*"
seaborn = "*"
pytest = "*"
# gluonts = "*"
# pytorchts = "*"
# pyro
# tvb-library
# pyqt5
gpytorch = "*"
gitpython = "*"
nitime = "*"
pyqt5 = "*"
portion = "*"
mne-features = "*"

[dev-packages]
paramiko = "*"
fooof = "*"
