[requires]
python_version = "3.8"

[[source]]
name = 'pypi'
url = 'https://pypi.python.org/simple'
verify_ssl = true

#[[source]]
#name = "downloadpytorch"
#url = "https://download.pytorch.org/whl/cu113/"
#verify_ssl = true


[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
gitpython = "*"
pyyaml = "*"
requests = "*"
deprecation = "*"
pennprov = "*"
hydra-core = "*"

[dev-packages]
# pytest = "*"
mne = "*"
tqdm = "*"
seaborn = "*"
gpytorch = "*"
mne-features = "*"
borb = "*"
clearml = "*"
pyro-ppl = "*"
pytorch-lightning = "*"
mlxtend = "*"
scienceplots = "*"
debugpy = "*"
# gluonts = "*"
# pytorchts = "*"
# tvb-library
# nitime = "*"
# pyqt5 = "*"
# xgboost = "*"
# torch = {index = "pytorch",version = "==1.10.1"}
# paramiko = "*"
# fooof = "*"
# torch = {file = "https://download.pytorch.org/whl/cu102/torch-1.10.2%2Bcu102-cp38-cp38-win_amd64.whl"}
# torch = "==1.11.0+cu113"
# pymef = "*"
# kaggle = "*"
# xmltodict = "*"

[pipenv]
allow_prereleases = true
